apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: db-data
  namespace: fintech
spec:
  storageClassName: fintech-storage
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
