apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: fintech
  labels:
    app: backend
spec:
  type: ClusterIP
  selector:
    app: backend
  ports:
    - name: http
      port: 9091
      targetPort: 9091
